.page__section_cover {
    max-width: 1184px;
    padding: 0;
}

@media (max-width: 1023px) {
    .page__section_cover {
        padding: 0;
    }
}

@media (max-width: 767px) {
    .page__section_cover {
        padding: 0;
    }
}